<div style="max-width: 940px; margin: 22px auto;">
    <mat-card>
        <mat-form-field>
            <mat-label>Sentence</mat-label>
            <input matInput [(ngModel)]="sentence" autocomplete="off">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="addWord()">Add</button>

        <app-button-menu-select [voiceItems]="voiceItems" [selectedItem]="selectedVoiceItem"
            (selectItemChanged)="selectedVoiceItem = $event"></app-button-menu-select>

        <table>
            <tr app-word-tr *ngFor="let wfv of wordForViews; let i = index" style="display: flex; height: 50px;"
                [style.background-color]="(i%2)?'':'#eee'" [word]="wfv.word" [mouseHover]="i==currentHoverIndex"
                [displayMode]="getDisplayMode(wfv.word)" (highlightEvent)="highlightWord($event)"
                (speakEvent)="speak($event)" (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave()"
                (rowSelectedEvent)="rowSelected($event)" (confirmEvent)="confirm($event)">
            </tr>
        </table>

        <br>
        <br>
        <br>
        <button mat-flat-button color="primary" (click)="manualSync()">sync</button>
        <br>
        <br>
        <br>
        <br>
        <button mat-flat-button color="primary" (click)="clearItem()">Clear</button>
    </mat-card>
</div>