<div class="bg-primary" style="color: #fff;">
    <table>
        <tr>
            <td style="width: 100%;">
                <div style="margin: 0; padding: 28px; font-size: 28px;">
                    Your Vocabulary Book
                </div>
            </td>
            <td>
                <div style="padding: 12px;">
                    <ng-template [ngIf]="hasProfile===true">
                        <button mat-button [matMenuTriggerFor]="menu" aria-label="User button with a menu">
                            {{userInfo?.name}}
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="authLogout()">
                                <mat-icon>logout</mat-icon>
                                <span>Log out</span>
                            </button>
                        </mat-menu>
                    </ng-template>
                    <ng-template [ngIf]="hasProfile===false">
                        <button mat-raised-button style="font-size: 14px; padding: 0 12px;" (click)="redirectToAuth()">
                            <mat-icon svgIcon="google"
                                style="font-size: 18px; height: 18px; width: 18px; line-height: 18px; padding-right: 20px;">
                            </mat-icon>Sign in with Google
                        </button>
                    </ng-template>
                </div>
            </td>
        </tr>
    </table>

</div>

<router-outlet></router-outlet>