/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import './_variables.scss';

@include mat.core();

@include mat.all-component-themes($theme);

.darkTheme {
    @include mat.all-component-themes($dark-t);
}

.custom-primary {
    background-color: mat.get-color-from-palette($primary);
    color           : $primary-text;

    a,
    a:active,
    a:hover,
    a:visited {
        color: $primary-text;
    }
}

// general:
html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-primary {
    background-color: mat.get-color-from-palette($primary);
}
