<div style="max-width: 940px; margin: 22px auto;">
    <mat-card>

        <button mat-flat-button color="primary" style="margin: 8px" (click)="newaddWord()">Add</button>

        <app-button-menu-select [voiceItems]="voiceItems" [selectedItem]="selectedVoiceItem"
            (selectItemChanged)="selectedVoiceItem = $event"></app-button-menu-select>


        <div>
            <app-word-list-item *ngFor="let word of getWordsForView(); let i = index" style="display: flex;"
                [style.background-color]="(i%2)?'':'#eee'" [word]="word" [mouseHover]="i==currentHoverIndex"
                [displayMode]="getDisplayMode(word)" (highlightEvent)="highlightWord($event)"
                (speakEvent)="speak($event)" (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave()"
                (rowSelectedEvent)="rowSelected($event)" (confirmEvent)="confirm($event)">
            </app-word-list-item>
        </div>

        <br>
        <br>
        <br>
        <button mat-flat-button color="primary" style="margin: 8px" (click)="manualSync()">sync</button>
        <button mat-flat-button color="primary" style="margin: 8px" (click)="clearItem()">Clear</button>
    </mat-card>
</div>